h1 {
    font-family: 'Montserrat', serif;
    font-variant-caps: small-caps;
}

h2 {
    font-family: 'Arvo', sans-serif;
    color: white;
}

.centered {
    margin: auto;
}

.vh20 {
    height: 20vh;
}

.vh40 {
    height: 40vh;
}

.vh60 {
    height: 60vh;
}

.vh80 {
    height: 80vh;
}

.vcenter {
    min-height: 40vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.firstslide {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    padding-left: 0;
}

.secondslide {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(203, 96, 179, 1) 0%, rgba(219, 54, 164, 1) 100%);
    ;
    padding-left: 0;
}

.thirdslide {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(48, 50, 54, 1) 0%, rgba(48, 50, 54, 1) 100%);
    ;
    padding-left: 0;
}


}
.itsup {
    height: 20vh;
}
.verybig {
    font-family: 'Arvo', sans-serif;
    color: white;
    font-size: calc(2vw + 2vh + .2vmin);
    text-align: center;
}
.big {
    font-family: 'Arvo', sans-serif;
    color: white;
    font-size: 2rem;
}
.navbar-brand {
    font-size: calc(0.6vw + 0.6vh + .2vmin);
    font-family: 'Arvo', sans-serif;
    text-align: right;
    float: right;
}
